<div class="w3-container w3-card-4 w3-gray w3-margin ">

<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="w3-margin-left w3-margin-bottom">
      <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
  </div>





</div>