
<% @page_title = "UserAuth | Signup" %>
<div class="Sign_Form">
  <h1>Sign Up</h1>
<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

      <p>Username: <br><%= f.text_field :username %></p>
      <p>Email: <br><%= f.text_field :email %></p>
      <p>Password: <br><%= f.password_field :password %></p>
      <p>Confirm Password:<br> <%= f.password_field :password_confirmation %></p>
<%= f.submit %>
  <% end %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    <% end %>
  </ul>
</div>
      </div>